:root {
    --primary-color: #00b7ff;
    --secondary-color: #0099ff;
    --third-color: #018eec;
    --main-text-color: #333;
    --white-text-color: #fff;
}

body {
    font-size: 1rem;
}

p{
    margin-bottom: .4rem;
}

.btn-primary {
    font-size: 1rem;
    line-height: 1rem;
    background: var(--primary-color);
    border: 1px solid var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary:hover {
    background: var(--secondary-color);
    border: 1px solid var(--third-color);
}

.btn-secondary {
    font-size: 1rem;
    line-height: 1rem;
    background: transparent;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}